<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link href="assets/ratchet/css/ratchet.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <style type="text/css">
      #search-box {
        max-width:50% !important
      }
    </style>
</head>
<body>

<!-- component for showing title & search bar -->
<script id="home-template" type="text/template">
  <!-- add title bar. It will be docked to top of screen-->
  <header class="bar bar-nav">
    <h1 class="title"> Employee Directory </h1>
  </header>
  <!-- add another title bar, positioned directly under the first one -->
  <div class="bar bar-standard bar-header-secondary">
    <input id="search-box" class="search-key" type="text">
    <button id="search-btn" class="btn pull-right"> Search </button>
  </div>
  <!-- put the contents of page her -->
  <div class="content content-padded"></div>
</script>

<!-- component for showing employee list-->
<script id="employee-list-template" type="text/template">
  <!--
    rachet css for creating a table view
    http://goratchet.com/components/#table-views
  -->

  <ul class="table-view">
    {{#results}}
    <li class="table-view-cell media">
      <!-- <a href="#employees/{{id}}" onClick="addToContacts('{{id}}')"> -->
      <a class="employee-link" data-employee-id="{{id}}">
          <img class="media-object pull-left" src="assets/pics/{{pic}}">
          <div class="media-body">
              {{ firstName}} {{lastName}}
              <p>{{ title }}</p>
          </div>
      </a>
    </li>
    {{/results}}
  </ul>

</script> <!-- end employee tableview -->





<script src="lib/jquery.js"></script>
<script src="lib/handlebars.js"></script>
<!-- script src="js/services/memory/EmployeeService.js"></script -->
<script src="js/employeeDb.js"></script>
<script src="js/app.js"></script>
<!-- add HTML templating language -->



</body>
</html>
